<!-- app/templates/home/acronyms/acronyms.html -->
{% macro render_field(field) %}
    <dt>{{ field.label }}
    <dd>{{ field(**kwargs)|safe }}
    {% if field.errors %}
        <ul class=errors>
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </dd>
{% endmacro %}

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Groceries{% endblock %}
{% block body %}
{% set firstnum = pagenum * 25 - 24 %}
{% set lastnum = pagenum * 25 %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Groceries</h1>
        {% if groceries %}
          <hr class="intro-divider">
          <div class="center">
            <table width="100%" class="table table-striped table-bordered">
                <thead>
                    {% if sort_by == 'id' %}
                    <th>ID <a href="?page={{ pagenum }}&sort=-id">^</a></th>
                    {% else %}
                    <th>ID <a href="?page={{ pagenum }}&sort=id">v</a></th>
                    {% endif %}
                    {% if sort_by == 'name' %}
                    <th>Name <a href="?page={{ pagenum }}&sort=-name">^</a></th>
                    {% else %}
                    <th>Name <a href="?page={{ pagenum }}&sort=name">v</a></th>
                    {% endif %}
                    {% if sort_by == 'sec' %}
                    <th>Section <a href="?page={{ pagenum }}&sort=-sec">^</a></th>
                    {% else %}
                    <th>Section <a href="?page={{ pagenum }}&sort=sec">v</a></th>
                    {% endif %}
                    {% if sort_by == 'ssec' %}
                    <th>Sub Section <a href="?page={{ pagenum }}&sort=-ssec">^</a></th>
                    {% else %}
                    <th>Sub Section <a href="?page={{ pagenum }}&sort=ssec">v</a></th>
                    {% endif %}
                    {% if sort_by == 'price' %}
                    <th>Price <a href="?page={{ pagenum }}&sort=-price">^</a></th>
                    {% else %}
                    <th>Price <a href="?page={{ pagenum }}&sort=price">v</a></th>
                    {% endif %}
                </thead>
                <tbody>
                {% for grocery in groceries %}
                <tr>
                    <td> {{ grocery.id }} </td>
                    <td> {{ grocery.name }} </td>
                    <td> {{ grocery.section }} </td>
                    <td> {{ grocery.subsection }} </td>
                    <td> {{ grocery.price }} </td>
                </tr>
              {% endfor %}
                <tr>
                    <td colspan="2">
                    {% if prev_url %}
                       <a href="{{ prev_url }}"><-Prev</a>
                    {% endif %}
                    </td>
                    <td colspan="3">
                    {% if next_url %}
                       <a href="{{ next_url }}">Next-></a>
                    {% endif %}
                    </td>
                </tr> 
                <tr>
                    <td colspan="5">Records {{ firstnum }} - {{ lastnum }} of {{ totalcount }} (Page {{ pagenum }})</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No groceries have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
