<!-- app/templates/home/index.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Project Acronym DB</h1>
                    <h3>Ironman Application #1</h3>
                    <hr class="intro-divider">
                    <h3>Brought to you by:</h3>
                    <ul>
                       <li class="authlist">Kurt Gustafson</li> 
                       <li class="authlist">Andy Fortman</li> 
                       <li class="authlist">Alex Kayser</li> 
                       <li class="authlist">Jim Viar </li> 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
