<!-- app/templates/admin/tags/tag.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_user %}
        Add User
    {% else %}
        Edit User
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
          <form action="" method="post"
              class="form" role="form">
            {% if add_user %}
                <h1>Add User</h1>
            {% else %}
                <h1>Edit User</h1>
            {% endif %}
            <br/>
            {{ form.csrf_token }}
            <table  class="table table-striped table-bordered">
               <tr><td>{{ form.username.label }}</td><td>{{ form.username }}</td></tr>
               <tr><td>{{ form.userEmail.label }}</td><td>{{ form.userEmail }}</td></tr>
               <tr><td>{{ form.userFN.label }}</td><td>{{ form.userFN }}</td></tr>
               <tr><td>{{ form.userLN.label }}</td><td>{{ form.userLN }}</td></tr>
               <tr><td>{{ form.userIsAdmin.label }}</td><td>{{ form.userIsAdmin }}</td></tr>
            {% if add_user %}
               <tr><td>{{ form.password.label }}</td><td>{{ form.password }}</td></tr>
               <tr><td>{{ form.confirm_password.label }}</td><td>{{ form.confirm_password }}</td></tr>
            {% endif %}
             
            <tr><td align=right>{{ form.submit }}</td><td align=left>{{ form.cancel }}</td></tr>
            </table>
           </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

