/* app/static/css/style.css */

body, html {
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
}

body, h1, h2, h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

a, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  #color: #aec251;
  color: #944213;
}

a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  #color: #687430;
  color: #381501;
}

.authlist {
  color: #000000;
  list-style: none;
}

footer {
    padding: 50px 0;
    background-color: #000000;
}

p.copyright {
    margin: 15px 0 0;
}

#search,#select {
    height: 25px;
}

.alert-info {
    width: 50%;
    margin: auto;
    #color: #ff0000;
    #color: #960e19;
    color: #ffffff;
    #background-color: #cccccc;
    background-color: #960e19;
    border-color: #cccccc;
}

.btn-default {
    border-color: #944213;
    color: #944213;
    #border-color: #aec251;
    #color: #aec251;
}

.btn-default:hover {
    #background-color: #aec251;
    background-color: #dddddd;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.content-section {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}

.footer, .push {
  clear: both;
  height: 4em;
}

.header-divider {
    border-left: 1px solid black;
    vertical-align: middle;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
    color: #944213;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    color: #944213;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.topnav {
    font-size: 14px;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.outer {
    display: table;
    position: absolute;
    height: 70%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

.tag {
   border-top: 1px solid #96d1f8;
   #background: #65a9d7;
   #background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   #background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   #background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   #background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   #background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 2.5px 5px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: black;
   font-size: 10px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
}

.tagbutton {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 2.5px 5px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 10px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.tagbutton:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.tagbutton:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.headerSortDown:after,
.headerSortUp:after{
    content: ' ';
    position: relative;
    left: 10px;
    border: 7px solid transparent;
}
.headerSortDown:after{
    top: 10px;
    border-top-color: silver;
}
.headerSortUp:after{
    bottom: 15px;
    border-bottom-color: silver;
}
.headerSortDown,
.headerSortUp{
    padding-left: 20px;
}
