<!-- app/templates/home/acronyms/addtag.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}
        Add Tag to Acronym
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
          <form action="" method="post"
              class="form" role="form">
                <h1>Add Tag to Acronym</h1>
            <br/>
            {{ form.csrf_token }}
            <table  class="table table-striped table-bordered">
               {%  if form.select.choices != [] %}
                  <tr><td>{{ form.select.label }}</td><td>{{ form.select }}</td></tr>
               {% else %}
                  <tr><td>No tags left to associate!</td></tr>
               {% endif %}
            <tr><td align=right>{{ form.submit }}</td><td align=left>{{ form.cancel }}</td></tr>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
